@media print {  
div#navigation {  
    display: none;  
    }  
 } 

 :root {
    --base-font-color:         rgb(131 148 150);
    --secondary-font-color:    rgb(88 110 117); 
    --emphasised-font:         rgb(147 161 161);

    --c-background-color:      rgb(0 43 54);
    --c-background-highlights: rgb(7  54  66);

    --c-yellow:      rgb(181 137   0); 
    --c-orange:      rgb(203  75  22);  
    --c-red:         rgb(220  50  47);  
    --c-magenta:     rgb(211  54 130); 
    --c-violet:     rgb(108 113 196); 
    --c-blue:        rgb(38 139 210); 
    --c-cyan:        rgb(42 161 152); 
    --c-green:       rgb(133 153   0); 
 }

h1, h2, h3, h4 {
    padding-top: 50px;
}

body {
    background-color: var(--c-background-color);
    max-width: 800px;
}

header {
    text-align: center;
    font-size: 150%;
    color: var(--c-yellow);
}

header, footer {
    background-color: var(--c-background-highlights);
}

footer, main {
    color: var(--base-font-color);
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

div {
    border: 3px var(--c-cyan) solid;
}

.box {
    display: flex;
    border: none;
}

aside {
    color: var(--c-green);
}

aside a:link {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}

h1, h2 {
    padding: 0;
    font: 1em/1.33 Verdana, sans-serif;
    margin: 0.83em 0 0.17em 0;
 }

a:link {
    color: var(--c-magenta);
 }

a:hover {
    color: var(--c-orange);
}

 h1 {
  font-size: 1.33em;
 }

 h2 {
  font-size: 1.17em;
 }

 p {
  margin: 0 0 0.5em 0;
  text-indent: 5em;
  border: 3px var(--c-cyan)
 }

