:root {
    --primary-color: rgb(163, 210, 202);
    --secondary-color: rgb(255, 255, 255);
    --bg-color: rgb(232, 222, 210);
    --font-color: rgb(5, 102, 118);
    --heading-color: rgb(94, 170, 168);
}

[data-theme="dark"] {
     --primary-color: rgb(144, 64, 160);
     --secondary-color: rgb(62, 44, 65);
     --bg-color: rgb(38, 28, 44);
     --font-color: rgb(110, 133, 178);
     --heading-color: rgb(92, 82, 127);
 }

[data-theme="light"] {
    --primary-color: rgb(163, 210, 202);
    --secondary-color: rgb(255, 255, 255);
    --bg-color: rgb(232, 222, 210);
    --font-color: rgb(5, 102, 118);
    --heading-color: rgb(94, 170, 168);
}
 
 body {
    background-color: var(--bg-color);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
 }

 h1, h2, h3 {
    color: var(--heading-color);
    text-align: left;
 }

 h3 {
    font-style: italic;
 }

 h3#userNameInput {
    text-align: center;
 }

 main, footer {
    color: var(--font-color);
 }

 a:link {
    color: var(--primary-color);
 }

 nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
 } 
 
 header, h1, form {
    text-align: center;
 }

 a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

div {
    text-align: center;
    font-style: italic;
 }
